.stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  margin-bottom: 1rem;

  mat-card {
    padding: 1rem;

    .metric {
      font-size: 2rem;
      margin: 0.5rem 0 0;
    }
  }
}

