:host {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.auth-card {
  max-width: 360px;
  width: 100%;

  mat-card {
    padding: 1.5rem;
    text-align: center;
  }
}

