.page-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
    color: #475569;
  }
}

.page-header__content {
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

